* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f9f4; 
    color: #333;
    line-height: 1.6;
    padding-top: 80px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b7e4c7;  
    padding: 20px;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
}

header .logo img {
    max-height: 50px; 
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    font-size: 16px;
}

header nav ul li a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #065f46; 
}

.wrapper {
    width: 100%;
    max-width: 400px; 
    margin: 100px auto; 
    background-color: #ffffff;  
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    color: #065f46;  
}


.input-box input {
    width: 100%; 
    padding: 15px; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease;
}

.input-box input:focus {
    border-color: #065f46;  
    outline: none;
}


.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    font-size: 14px;
}

.remember-forgot a {
    font-size: 14px;
    text-decoration: none;
    color: #065f46; 
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.remember-forgot a:hover {
    color: #1d7042;  
}


button.button {
    width: 100%; 
    padding: 15px; 
    background-color: #065f46;  
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button.button:hover {
    background-color: #1d7042;  
}


.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link p {
    font-size: 14px;
}

.register-link a {
    text-decoration: none;
    color: #065f46;  
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.register-link a:hover {
    color: #1d7042;  
}

footer {
    text-align: center;
    background-color: #b7e4c7;
    padding: 15px;
    font-size: 14px;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #333;
}


@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    .wrapper {
        width: 90%; 
        padding: 20px; 
    }

    h1 {
        font-size: 24px;
    }

    button.button {
        font-size: 16px;
    }
}
